<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Background with Centered Heading and Text Below</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/load.css') }}">
</head>
<body>
    <div id="load">
        <div>G</div>
        <div>N</div>
        <div>I</div>
        <div>D</div>
        <div>A</div>
        <div>O</div>
        <div>L</div>
        <div> </div>
        <div>T</div>
        <div>P</div>
        <div>I</div>
        <div>R</div>
        <div>C</div>
        <div>S</div>
    </div>
</body>
</html>
